.flex-container{
    display:flex ;
    flex-direction:row ;
    flex-wrap:wrap ;
    justify-content:space-around ;
    align-items:center ;
    height:80px ;
    background-color:#c6ffff ;
}

.box{
    background-color: rgb(254, 226, 255);
    border: 2px solid #ef9eff;
    border-radius: 0.5px;
    color: rgb(255, 178, 245);
    padding: 0.5px;
}

.imgfooter{
    width: 400px;
    height: auto;
}

nav a{
    text-decoration: none;
    color: #363636;
    font-family: 'Times New Roman', Times, serif;
}

.infofooter{
    display: flex;
    justify-content: space-around;
     border: 5px solid #ef9eff;
    border-radius: 2px;
    color: #000000 ;
    padding: 2px;
}

.losgirasoles{
     width: 400px;
    height: auto;
}